/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --blue: hsla(197, 71%, 73%, 1);
  --green: hsla(148, 85%, 68%, 1);
  --purple: hsla(261, 29%, 60%, 1);
  --red: hsla(332, 40%, 42%, 1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: hsla(0, 0%, 0%, 0.15);
}

h1 {
  margin: 1rem;
  font-size: 3rem;
  color: hsla(0, 0%, 0%, 0.8);
}

td {
  padding: 1rem;
  font-size: 14px;
  background-color: var(--purple);
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid transparent;
}

footer a {
  text-decoration: none;
  color: hsla(0, 0%, 0%, 0.8);
  font-size: 0.9rem;
}

footer {
  margin: 1rem 0 0 0;
}

.table {
  margin: 0 auto;
  margin-top: 3rem;
}

.hidden {
  display: none;
}

.alert {
  display: inline-block;
  background-color: var(--red);
  color: white;
  margin-top: 1rem;
  padding: 0.75rem;
  border-radius: 2rem;
}

.input {
  padding: 0.5rem;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.label {
  font-size: 0.875rem;
  border: 1px solid transparent;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.75rem;
  background-color: var(--purple);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn {
  padding: 0.55rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid transparent;
  background-color: var(--blue);
  color: hsla(0, 0%, 0%, 0.75);
  font-size: 0.875rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.btnDone {
  padding: 1rem;
  background-color: var(--green);
  color: hsla(0, 0%, 0%, 0.9);
  font-size: 0.875rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: 1px solid transparent;
}

.btn,
.btnDone:hover {
  cursor: pointer;
}

.btn:active,
.btnDon:active {
  transform: translateY(2px);
}
